@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Kaushan+Script&family=Kavivanar&family=Poppins:wght@200;300;400&display=swap');

:root {
  --font-title : 'Kaushan Script', cursive;
  --font-text: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: var(--font-text);
  text-decoration: none;
  color: #000000;
}

/* NAVBAR */
header {
  height: 4rem;
  width: 100vw;
  background-color: rgb(58, 161, 250);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  color: white !important;
}

header ul {
  display: flex;
  list-style: none;
}

nav a,
nav a:link,
nav a:active,
nav a:visited {
  color: white;
  margin: 0 0.5rem;
  justify-content: space-between;
}

#logout {
  color: white;
}

/* HOMEPAGE */

.homepage {
  background-image: url('/assets/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.homeTitle {
  margin: auto;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 5rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: var(--font-title);
  font-size: 6rem;
}

.buttonHomepage {
  text-align: center;
  text-decoration: none;
  display: flex;
}

.button {
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px #888888;
  border-radius: 10px;
  color: black !important;
  padding: 14px 25px;
  width: 10rem;
  margin: auto;
}

/* LOG IN - SIGN UP PAGES */
.logIn
.signUp {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logInForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;
  font-family: var(--font-title);
}

.label {
  text-align: center;
}

#username,
#email,
#password {
  width: 70vw;
  margin: auto;
  margin-bottom: 0.5rem;
}

.buttonLog {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 1.5rem;
  background-color: white;
  box-shadow: 2px 2px #888888;
  border-radius: 10px;
}

.logIn p,
.signUp p {
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.logIn h2,
.signUp h2 {
  margin-top: 3rem;
}

/* FESTIVALS PAGE */
#festivalBanner {
  width: 100%;
}

.festivals {
  margin-top: 3rem;
}

/* FESTIVAL PAGE */
.festivalInfo {
  background-color: white;
  box-shadow: 2px 2px #888888;
  border: 1px solid #888888;
  border-radius: 10px;
  margin: 1rem;
}

.festivalInfo p {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  margin: 0.5rem 0;
}

.festivalStands { 
  margin: 1rem;
}

.standCard p {
  font-style: italic;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

/* STAND PAGE */
.standImg {
  width: 100vw;
  height: auto;
}

.standDescription {
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem 0 1rem;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 2rem;
}

/* TITLES */
h2 {
  font-family: var(--font-title);
  font-size: 2rem;
  text-align: center;
}

/* FORMS */
.createStandForm,
.editStandForm,
.createProductForm,
.createFestivalForm,
.editFestivalForm {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;
  font-family: var(--font-title);
}

#name,
#dateBeginning,
#dateEnd,
#location,
#picture,
#price,
#description,
#standType  {
  width: 70vw;
  margin: auto;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}

#standType {
 margin-top: 2rem;
}

/* BUTTONS */
.create,
.edit {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 1.5rem;
  background-color: white;
  box-shadow: 2px 2px #888888;
  border-radius: 10px;
}

.delete {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 1.5rem;
  background-color: white;
  box-shadow: 2px 2px #888888;
  border-radius: 10px;
  color: red;
}

/* MEDIA QUERIES FOR TABLETS */

@media screen and (min-width: 768px) {
  /* HOMEPAGE */
  .homeTitle{
    padding-top: 15rem;
    padding-bottom: 10rem;
    font-size: 10rem;
  }

  /* LOG IN - SIGN UP PAGES */

  .logInForm,
  .signUpForm {
    display: flex;
    flex-direction: column;
    margin: 5rem 1rem;
    font-family: var(--font-title);
  }

  #username,
  #email,
  #password {
    width: 50vw;
    margin: auto;
    margin-bottom: 0.5rem;
  }

  .logIn p,
  .signUp p {
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  /* FESTIVALS PAGE */
  .festivals {
    margin-top: 2rem;
  }

  /* FESTIVAL PAGE */
  .festivalInfo,
  .festivalStands {
    margin: 3rem;
  }

  .festivalInfo p {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .standCard p {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  /* STAND PAGE */
  .standDescription{
    margin-bottom: 2rem;
  }

  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 5rem;
  }
}

/* MEDIA QUERIES FOR DESKTOP */

@media screen and (min-width: 1024px) {
  h2{
    font-size: 5rem;
    margin-top: 3rem;
  }

  /* FESTIVAL PAGE */
  .festivalInfo,
  .festivalStands {
    margin: 5rem;
  }

  .festivalInfo p {
    font-size: 1rem;
    margin: 1rem 0;
  }
}